
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
sensor: !include sensors.yaml
template: !include templates.yaml


http:
  use_x_forwarded_for: true
  trusted_proxies:
    - # localhost
    - # IPv6 localhost
    - # LAN range
    - # Docker/host network ranges
    - # 10.x.x.x addresses
