# homepage for app navigation

services:
  frontend:
    build:
      context: ${HOMEPAGE_WEB_FOLDER}
      dockerfile: Dockerfile
    container_name: ${HOMEPAGE_WEB_NAME}
    env_file:
      - homepage/.env
      - homepage/.env.manager
    ports:
      - "${HOMEPAGE_WEB_PORT}"
    restart: unless-stopped
    networks:
      - server-network
    depends_on:
      - flask-backend

  flask-backend:
    build: ${HOMEPAGE_API_FOLDER}
    container_name: ${HOMEPAGE_API_NAME}
    env_file:
      - homepage/.env
      - homepage/.env.manager
    ports:
      - "${HOMEPAGE_API_PORT}"
    volumes:
      - ${HOMEPAGE_API_ASSETS_LOCATION}:/data:ro
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - server-network

networks:
  server-network:
    driver: bridge